* {
    margin: 0;
    padding: 0;
}

.Navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 2px;
}

.Navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 15px;
    transition: background-color ease 0.1s ease 0.1s;
}

.Navbar a:hover {
    background-color: #fff;
    color: #000;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.box {
    width: 160px;
    height: 190px;
    border-radius: 70px;
    padding: 1px;
    margin: 1px;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

p {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-color: #f00;
    color: #fff;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    padding: 8px;
    margin: 10px;
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    background-color: #ffc0cb;
    width: 250px;
    height: 150px;
    border-radius: 15px;
    padding: 8px;
    margin: 10px;
}